body{
  background-color: bisque;
}

.apptitle {
  margin: 1rem 0;
  /* color: #ff2968; */
  color: #4129ff;
  background-color: #ff29685e;
  padding: 3%;
  text-align: center;
}

label {
  display: block !important;
  cursor: pointer;
}

line.tab{
  list-style-type: none;
  border: 1px solid gainsboro;
  padding: 5px;
  width: 88%;
}

.alert {
border: 4px solid lemonchiffon !important;
}

.alert:hover{
  /* background-color:  #ffb0c8bd; */
  background-color: #e9cba4b8;
}

h1 {
  color: mediumturquoise;
  text-shadow: -2px 1px 1px aliceblue;
  text-decoration: underline;
}

.btn-success {
  width: 45%;
  /* width: 50%; */
}

.btn-info {
  color: #fff;
  background-color: #33b5e5 !important;
  width: 45%;
}

.btn-danger:hover {
  background-color: #ff3547d1 !important;
  border: 1px solid #33b5e4;
  box-shadow: 4px 5px 3px grey;
}

.btn2{
  position: absolute;
  margin-left: 80% !important;
  margin-top: -36px !important;
  width: 33px !important;
  padding: 8px !important;
  border-radius: 20%;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  position: absolute;
  margin-left: -3%;
  margin-top: 1%;
}

.btn {
  max-width: 40% !important;
  margin-top: 5% !important;
}

.btn1{
    /* position: absolute;
    margin-left: 11%;
    margin-top: -2%; */
    /* width: 100px; */
    margin: .2rem !important;
    padding: 0.4rem 2.14rem !important;
}

.btn3 {
  float: right;
  margin-top: 0px !important;
  width: 30% !important;
  padding: 5px !important;
  border-radius: 20%;
}
/* 
@media only screen and (max-width: 600px) and (min-width: 400px)  {
  .btn1{
    position: absolute;
    margin-left: 39%;
    margin-top: -7.6%;
  }
} */

.todolist {
  padding-left: 0;
}
.todolist .todoitem {
  position: relative;
  margin-bottom: 0.25rem;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  border-top: 1px solid #ccc;
}
.todolist .todoitem.done .form-check-label {
  color: #999;
  text-decoration: line-through;
}
.todolist .todoitem.highlight {
  border-color: #ff2968;
  background-color: #ff8fb0;
}
.todolist .todoitem.highlight:last-child {
  border-color: #ff2968;
}
.todolist .todoitem:last-child {
  border-bottom: 1px solid #ccc;
}
.todolist .todoitem .btn-danger {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.todolist .todoitem .form-check-label {
  width: 100%;
}
.todolist .todoitem .form-check-label .form-check-input {
  margin-right: 1rem;
}
