.App {
  /* text-align: center; */
  clear: both;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ----------------------index.css---------------------- */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ------------------------- Nav Bar --------------------- */
/* ------------------------------------------------------- */

h1 {
  color: mediumturquoise;
  text-shadow: -2px 1px 1px aliceblue;
  text-decoration: underline;
  text-align: center;
  padding-bottom: 5%;
  margin-top: -5%;
}

.navbar {
  background-color: thistle;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(191, 60, 60, 0.7) !important;
  background-color: #d2b8d2de;
}

.links:hover {
  color: rgba(191, 60, 60, 0.7) !important;
  background-color: #d2b8d2de;
  text-decoration: none !important;
}

li, ul {
  display: contents;
  list-style-type: none;
  color: aliceblue;
  font-weight: 500;
}

a{
  color: #d6e1ec;
}
/* .card-img, .card-img-bottom, .card-img-top {
  flex-shrink: 0;
  width: 30% !important;
} */

.card {
  width: 25%;
  float: left;
}

.Footer{
  background-color: midnightblue;
  color: antiquewhite;
  padding: 2%;
  text-align: end;
}


/* ------------------------- Home -------------------- */
/* ------------------------------------------------------- */

/* @media (min-width: 1200px) { */
  /* .container, .container-lg, .container-md, .container-sm, .container-xl { */
  .home { 
      max-width: 100%;
      background-color: cornsilk;
      margin-top: 1%;
      padding: 2%;
      color: crimson;
  }

  .card-content{
    display: contents;
  }

  .body {
    color: aliceblue;
    padding: 1em;
  }

  .card-title {
    margin-bottom: .75rem;
    background-color: slategrey;
    color: initial;
    display: block;
    padding: 1%;
    font-style: italic;
    font-weight: 500;
  }

  .containers {
    border-radius: 2%;
    padding: 0 !important;
    box-shadow: 3px 4px 2px darkmagenta;
  }  

  .box2 {
    margin-top: 6%;
    overflow: auto;
    max-height: 350px;
    min-height: 375px;
  }
/* } */